<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>heme.tv.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4F7F5B8254685FE006E9B36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4F7F5CE25468604006E9B36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4F7F5D925468604006E9B36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
